/* Box Model Hack */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    max-width: 300px;
    min-width: 250px;
    font-size: 1.6rem;
    padding: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #262626;
  }
  
  html {
      font-size: 62.5%;
  }

  #time-display {
    text-align: center;
    position: relative;
  }

  #time {
    font-size: 3rem;
  }

  #sign {
    height: 1em;
  }

  button {
    height: 2em;
    width: 2em;
    border: none;
    cursor: pointer;
  }

  /* #refresh {
    background: url('../images/refresh-2-48.png') 50% 50% / 1.3em no-repeat;
    position: absolute;
    top: 0;
    right: 10px;
  } */

  /* #pause {
    background: url('../images/pause-48.png') 50% 50% / 1.3em no-repeat;
  }

  #play {
    background: url('../images/play-48.png') 50% 50% / 1.3em no-repeat;
  } */
  
  /******************************************
  /* LAYOUT
  /*******************************************/


  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
  }

  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    margin: .7em 0;
    background-color: lightblue;
    padding: .2em 0;
    border-radius: 3px;
  }

  .noneditable {
    background-color: black;
    color: lightgray;
  }

  h3 {
    font-size: 1.3rem;
    color: gray;
    font-weight: normal;
  }

  #speed-display {
    display: flex;
  }

  #speed {
    font-size: 2.6rem;
    text-align: right;
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  #controls {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 50%;
  }

  .triangle {
    cursor: pointer;
    display: inline-block;
    border-style: solid;

    /* Size */
    height: 0px;
    width: 0px;
  }

  .gray-out {
    opacity: 0.2;
    cursor: default;
  }

  .on-hover {
    opacity: 0.7;
    transition: 0.2s;
  }

  .on-hover:hover, .pressed {
    opacity: 1;
  }

  .left-arrow {
    border-color: transparent #4D96FF transparent transparent;
    border-width: 1.2rem 1.2rem 1.2rem 0px;
  }

  .right-arrow {
    border-color: transparent transparent transparent #4D96FF;
    border-width: 1.2rem 0 1.2rem 1.2rem;
  }

  .pressed-decre {
    border-color: transparent #005792 transparent transparent;
  }

  .pressed-incre {
    border-color: transparent transparent transparent #005792;
  }

  small {
    font-size: .9rem;
    color: #808080;
    float: right;
    margin: 5px 0;
  }

  #set-normal {
    color: #555;
    background-color: #fff;
    font-weight: 900;
    font-size: 2rem;
  }