* {
    box-sizing: border-box;
}

.preload *, .preload :before {
  transition: none !important;
}

/******************************************
/* BASE STYLES
/*******************************************/

body, html {
  margin: 0;
  padding: 0;
  width: 300px;
  max-height: 100%;
  min-height: 200px;
}

body {
  background-color: #eee;
  color: #333;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 1em;
}

small {
  position: absolute;
  bottom: 8px;
  right: 20px;
  text-align: right;
  color: #808080;
  font-size: 12px;
}

a {
	text-decoration: none;
	color: #808080;
  position: relative;
}

a::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

.redText {
  color: #ed3942;
}

.blueText {
  color: #60dcd4;
}

.orangeText {
  color: #f3993e;
}

/******************************************
/* CSS TABS
/*******************************************/

.container {
  font-size: 0;
}
input {
  display: none;
}
input:checked + label {
  background: #eee;
}
#tab1:checked ~ .line {
  left: 0%;
}
#tab1:checked ~ .content-container #c1 {
  display: inline;
}
#tab2:checked ~ .line {
  left: 33.33%;
}
#tab2:checked ~ .content-container #c2 {
  display: inline;
}
#tab3:checked ~ .line {
  left: 66.66%;
}
#tab3:checked ~ .content-container #c3 {
  display: inline;
}
main > label {
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  width: 33.33%;
  text-align: center;
  background: #f4f4f4;
  color: #555;
  position: relative;
  transition: 0.25s background ease;
  cursor: pointer;
}
main > label::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
  background: #ccc;
  bottom: 0;
  opacity: 0;
  left: 0;
  transition: 0.25s ease;
}
main > label:hover::after {
  opacity: 1;
}
.line {
  position: absolute;
  height: 2px;
  background: #1e88e5;
  width: 33.33%;
  top: 34px;
  left: 0;
  transition: 0.25s ease;
}
.content-container {
  padding: 20px;
  font-size: 16px;
}
.content {
  width: 100%;
  display: none;
  transition: 0.25s ease;
  color: #333;
}
h1, h3 {
  font-weight: 200;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
}
h1 {
  font-weight: bold;
}

/******************************************
/* SHORTCUTS TAB
/*******************************************/

ul {
  padding: 0;
  list-style-type: none;
}

ul.about {
  padding-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

.spreadout li {
  display: flex;
  justify-content: space-between;
}

li div:first-child {
  font-weight: bold;
}

ul.settings label {
  cursor: pointer;
  display: flex;
}

ul.settings label p {
  padding-left: 15px;
  flex: 1;
  font-weight: bold;
}

p {
  margin: 0 auto;
}

/******************************************
/* SETTINGS TAB
/*******************************************/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  line-height: 1.15;
  font-size: 80%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(238, 238, 238, 1);
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: 100px;
  top: -5px;
  left: 145%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity .5s;
}

.tooltip .widetip {
  width: 120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Radio buttons */
.radio input[type='radio'] {
  display: initial;
  accent-color: #2196F3;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 55px;
}

.radio label {
  font-weight: normal;
}

.radio input {
  margin-right: 5px;
}

/******************************************
/* ALERT MESSAGE
/*******************************************/

/* The alert message box */
.alert {
  padding: 10px 20px;
  background: rgba(186, 208, 228, .37);
  color: #00539f;
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: #00539f;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}