* {
    box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body, html {
  margin: 0;
  padding: 0;
  width: 300px;
  max-height: 100%;
}

body {

  background-color: #eee;
  color: #333;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

/******************************************
/* CSS TABS
/*******************************************/

.container {
  font-size: 0;
}
input {
  display: none;
}
input:checked + label {
  background: #eee;
}
#tab1:checked ~ .line {
  left: 0%;
}
#tab1:checked ~ .content-container #c1 {
  display: inline;
}
#tab2:checked ~ .line {
  left: 50%;
}
#tab2:checked ~ .content-container #c2 {
  display: inline;
  padding: 10px 40px;
}
label {
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  width: 50%;
  text-align: center;
  background: #f4f4f4;
  color: #555;
  position: relative;
  transition: 0.25s background ease;
  cursor: pointer;
}
label::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
  background: #ccc;
  bottom: 0;
  opacity: 0;
  left: 0;
  transition: 0.25s ease;
}
label:hover::after {
  opacity: 1;
}
.line {
  position: absolute;
  height: 2px;
  background: #1e88e5;
  width: 50%;
  top: 34px;
  left: 0;
  transition: 0.25s ease;
}
.content-container {
  position: relative;
  font-size: 16px;
}
.content {
  position: absolute;
  padding: 10px;
  width: 100%;
  top: 0;
  display: none;
  transition: 0.25s ease;
  color: #333;
}
h3 {
  font-weight: 200;
  margin: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
}
.nonclickable {
  pointer-events: none;
}

/******************************************
/* PLAYING TAB
/*******************************************/

/* Time display */
#time-display {
  text-align: center;
  position: relative;
}

#remain {
  font-size: 3rem;
}

#sign {
  height: 1em;
}

#video-controls {
  display: flex;
  justify-content: center;
  column-gap: .1em;
}

/* Button interactions */

button {
  cursor: pointer;
  border: none;
  color: rgba(85,85,85, 0.7);
  font-weight: 900;
  font-size: 1.8rem;
  border-radius: 5px;
}

button i, button {
  padding: .23em;
}

button:hover {
  background-color: rgba(85,85,85, 0.1);
  color: rgba(85,85,85, 1);
}

button:active, .pressed {
  background-color: rgba(85,85,85, 0.15);
  color: rgba(85,85,85, 1);
}

.chosen, .chosen:hover {
  background-color: rgba(85,85,85, .2);
}

/*  Speed controls  */
h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  margin: .7em 0;
  background-color: lightblue;
  padding: .2em 0;
  border-radius: 3px;
}

.noneditable {
  background-color: #333;
  color: lightgray;
}

#speed-display {
  display: flex;
}

#speed {
  font-size: 2.6rem;
  text-align: right;
  flex-grow: 1;
  flex-basis: 0;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: right;
}

#speed-controls {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 50%;
}

.triangle {
  cursor: pointer;
  display: inline-block;
  border-style: solid;

  /* Size */
  height: 0px;
  width: 0px;
}

.gray-out {
  opacity: 0.2;
  cursor: default;
}

.on-hover {
  opacity: 0.7;
  transition: 0.2s;
}

.on-hover:hover {
  opacity: 1;
}

.left-arrow {
  border-color: transparent #4D96FF transparent transparent;
  border-width: 1.2rem 1.2rem 1.2rem 0px;
}

.right-arrow {
  border-color: transparent transparent transparent #4D96FF;
  border-width: 1.2rem 0 1.2rem 1.2rem;
}

.pressed-decre {
  border-color: transparent #005792 transparent transparent;
}

.pressed-incre {
  border-color: transparent transparent transparent #005792;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

li div:first-child {
  font-weight: bold;
}

p {
  margin: 0 auto;
}

/******************************************
/* SHORTCUTS TAB
/*******************************************/
#loading {
  text-align: center;
}

.alert{
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Segoe UI','Oxygen-Sans','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
  min-height: 38px;
  padding: 12px 15px 15px;
  border-radius: 4px;
  opacity:1;
  transition: opacity 0.6s;
  max-width:100%
}
.info {
  background: rgba(186, 208, 228, .37);
  color: #00539f;
  border-color: #00539f;
}
.alert code, .alert .mark{
  background: #fff;
  opacity: 0.9;
  padding: 3px 5px;
  border-radius: 4px;
  font-family: Consolas,Monaco,'Andale Mono',monospace;
  font-size: 89%;
  font-weight: normal;
}